[user]
 path = .localrc/gitconfig
[color]
 diff = auto
 status = auto
 branch = auto
 ui = auto
 interactive = auto
 pager = true
[color "branch"]
 current = red
 local = red
 remote = green
[color "diff"]
 meta = yellow bold
 frag = magenta bold
 old = red bold
 new = green bold
[color "status"]
 added = yellow
 changed = green
 untracked = cyan
[core]
 editor = emacs
 excludesfile = /Users/zeeshanlakhani/.gitignore
[alias]
 last = cat-file commit HEAD
[merge]
 stat = true
[github]
 path = .localrc/gitconfig
[init]
 templatedir = ~/.git_template
