*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el

# zeeshan changes
ac-comphist.dat
flycheck-*.el
geiser-history.racket
projectile-bookmarks.eld
.sass-cache